/* Optional: Add some modern styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f5f5f5; /* Light background color */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff; /* White container background */
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

input,
button {
    margin: 10px 0;
    padding: 12px;
    font-size: 18px;
    border: 2px solid #3498db; /* Blue border */
    border-radius: 4px; /* Rounded corners */
    outline: none; /* Remove default outline */
}

button {
    background-color: #3498db; /* Blue button background */
    color: #ffffff; /* White button text */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

/* Add focus style for the button */
button:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5); /* Add custom box shadow */
}

.output {
    margin-top: 20px;
    padding: 12px;
    font-size: 16px; /* Adjust the font size as needed */
    border: 2px solid #ccc;
    width: 100%;
    max-width: 900px;
    height: 250px;
}

#plainText ul {
    padding: 0;
}

#plainText ul li {
    text-align: left;
    margin-left: 20px;
    list-style-type: disc;
}

#dropdown {
    margin-left: 5px; /* Adjust the margin as needed */
    font-size: 18px; /* Set font size to match input box */
    padding: 12px; /* Set padding to match input box */
    border: 2px solid #3498db; /* Set border to match input box */
    border-radius: 4px; /* Rounded corners */
    outline: none; /* Remove default outline */
}

#dropdown:hover {
    background-color: #add0e7; /* Darker blue on hover */
}

 /* Add focus style for the dropdown */
select:focus {
  outline: none; /* Remove default focus outline */
  border-color: rgba(0, 0, 0, 0.5); /* Change border color when focused */
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5); /* Add custom box shadow when focused */
}